In [1]:
str="SUShanTh"
print(str.upper())
print(str.lower())

SUSHANTH
sushanth

In [3]:
s="Application"
s1='A'
print(s.isupper())
print(s1.isupper())

False
True

In [5]:
s="Application"
s1='A'
print(s.islower())
print(s1.islower())

False
False

In [6]:
s="7777"
s1="SuGa7"
print(s.isnumeric())
print(s1.isnumeric())

True
False

In [45]:
s="Apllication"
s1="App777"
print(s.isalpha())
print(s1.isalpha())
print(s.istitle())
print(s1.istitle())

True
False
True
True

In [48]:
str="Sushanth"
print("_".join(str))

S_u_s_h_a_n_t_h

In [25]:
s="Python"
s1=" "
print(s.isspace())
print(s1.isspace())

False
True

In [34]:
print(",".join(["Suga7","MaheshBabu","Dhoni"]))

Suga7,MaheshBabu,Dhoni

In [35]:
s="Python Programming Is Easy"
lst=s.split()
print(lst)

['Python', 'Programming', 'Is', 'Easy']

In [36]:
s="Python Programming Is Easy"
print(s.split())
print(s.split("a"))
print(s.split(","))

['Python', 'Programming', 'Is', 'Easy']
['Python Progr', 'mming Is E', 'sy']
['Python Programming Is Easy']

In [44]:
s="Python Programming"
print(s.replace("Python","C++",1))

C++ Programming

In [60]:
str="S_u_s_h_a_n_t_h"
print(str.replace("_",""))

Sushanth

In [63]:
t1=("python","programming",18,9,"Machine Learning", "AI")
print("t1[0]=",t1[0])
print("t1[2]=",t1[2])
print("t1[-1]=",t1[-1])
print("t1[1:4]=",t1[1:4])
print("t1[2:-2]=",t1[2:-2])

t1[0]= python
t1[2]= 18
t1[-1]= AI
t1[1:4]= ('programming', 18, 9)
t1[2:-2]= (18, 9)

In [74]:
t1=("Pyhton","Game","Programming");
print(min(t1))

Game

In [75]:
t1=(1,2,3,4,5,679)
print(min(t1))
print(max(t1))
print(len(t1))

1
679
6

In [80]:
list1=["python","programming",1989,20109,"machine learning","AI"]
t1=tuple(list1)
print(t1)

('python', 'programming', 1989, 20109, 'machine learning', 'AI')

In [81]:
user1={"name":"Python","age":29,"emailid":"gmail.com","mobileno":8888888888}
print("user1[name]=",user1["name"])
print("user1[age]=",user1["age"])

user1[name]= Python
user1[age]= 29

In [82]:
user1={"name":"Python","age":29,"emailid":"gmail.com","mobileno":8888888888}
print("user1[emailid]=",user1["emailid"])
user1["emailid"]="123gmail.com"
print("user1[emailid]=",user1["emailid"])

user1[emailid]= gmail.com
user1[emailid]= 123gmail.com

In [83]:
user1={"name":"Python","age":29,"emailid":"gmail.com","mobileno":8888888888}
print("user1[emailid]=",user1["emailid"])
del (user1["emailid"])
print(user1)

user1[emailid]= gmail.com
{'name': 'Python', 'age': 29, 'mobileno': 8888888888}

In [84]:
user1={"name":"Python","age":29,"emailid":"gmail.com","mobileno":8888888888}
print(user1)
user1["Adress"]="Hyderabad"
print(user1)

{'name': 'Python', 'age': 29, 'emailid': 'gmail.com', 'mobileno': 8888888888}
{'name': 'Python', 'age': 29, 'emailid': 'gmail.com', 'mobileno': 8888888888, 'Adress': 'Hyderabad'}

In [86]:
user1={'Name': 'Python','Age':29, 'Email Id':'gmail.com'}
user2=user1.copy()
print(user1.values())
print(user2.values())
print(user1.items())

dict_values(['Python', 29, 'gmail.com'])
dict_values(['Python', 29, 'gmail.com'])
dict_items([('Name', 'Python'), ('Age', 29), ('Email Id', 'gmail.com')])

In [87]:
lst=["Python", "Programming"]
print("%s %s"%(lst[0],lst[1]))

Python Programming

In [89]:
contacts={}
def addcontact(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print("Contacts %s is added"% name)
    else:
        print("Contact %s is already added"% name)
    return

addcontact("Sushanth",7702637458)
addcontact("Mahesh",9999999999)
addcontact("Suga7",684654354354)
addcontact("Sushanth",7702637458)

Contacts Sushanth is added
Contacts Mahesh is added
Contacts Suga7 is added
Contact Sushanth is already added

In [94]:
def searchcontact(name):
    if name in contacts:
        print(name,":",contacts[name])
    else:
        print("%s does not exist"%name)
    return
              
              
searchcontact("Sushanth")
searchcontact("Suga7")

Sushanth : 7702637458
Suga7 : 684654354354

In [97]:
def importcontacts(newcontacts):
    contacts.update(newcontacts)
    print((len(newcontacts.keys())),"contacts added succesfully")
    return

newcontacts={"dinesh":90996897657894,'rowdy':2782789057856}
importcontacts(newcontacts)

2 contacts added succesfully

In [105]:
print(contacts)

{'Sushanth': 7702637458, 'Mahesh': 9999999999, 'Suga7': 684654354354, 'dinesh': 90996897657894, 'rowdy': 2782789057856}

In [109]:
def deletecontact(name):
    if name in contacts:
        del contacts[name]
        print(name,": is deleted from contacts")
    else:
        print(name," Does Not Exits In The Contact")
    return

deletecontact("Suga7")
deletecontact("Babu")

Suga7  Does Not Exits In The Contact
Babu  Does Not Exits In The Contact

In [112]:
def updatecontact(name,phone):
    if name in contacts:
        contacts[name]=phone
        print(name,":update with new phone number")
    else:
        print(name,"not exists in the contacts")
    return

updatecontact("Sushanth",7702637458)
updatecontact("Babu",346890563489)

Sushanth :update with new phone number
Babu not exists in the contacts

In [119]:
lst=[1,2,3,4]
print("Value at :{0} value at :{1}".format(lst[0],lst[1]))
print("Value at :{0} value at :{1}".format(lst[2],lst[1]))

Value at :1 value at :2
Value at :3 value at :2

In [121]:
from math import floor as f1
f1(123.456)

123

In [122]:
from math import factorial as fact
fact(5)

120

In [123]:
import math
math.factorial(5)

120

In [126]:
import random
def generaterandomnumbers(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end=" ")
    return
generaterandomnumbers(10,21,120)

31 58 60 60 61 58 103 83 67 119

In [130]:
d={"john":40 , "Peter":45}
print(list(d.keys()))

['john', 'Peter']

In [131]:
print("Maximum of 4,12,43.3,19 and 100 is : ",end="") 
print (max( 4,12,43.3,19,100 ))

Maximum of 4,12,43.3,19 and 100 is : 100

In [4]:
import pandas as pd
dict = {"Name":["Anil","Akhil","Dinesh","Harsha","Ajay","Kranth"],
       "EmailID":["anil@gmail.com","akhil@gmail.com","dinesh@gmail.com","harsha@gmail.com","ajay@gmail.com","kran@gmail.com"],
        "MobileNumber":[999,888,777,888,777,999],
        "Address":["Hyd","Hyd","Vmd","Vmd","Vmd","Vmd"]}
b=pd.DataFrame(dict)
print(b)

     Name           EmailID  MobileNumber Address
0    Anil    anil@gmail.com           999     Hyd
1   Akhil   akhil@gmail.com           888     Hyd
2  Dinesh  dinesh@gmail.com           777     Vmd
3  Harsha  harsha@gmail.com           888     Vmd
4    Ajay    ajay@gmail.com           777     Vmd
5  Kranth    kran@gmail.com           999     Vmd